.product-list-banner {
  width: 100%;
  height: auto;
  margin-top: 17px;
}

.product-list-banner:hover {
  opacity: 1;
}

.product-list-title {
  font-family: 'Marsden wide';
  font-size: 18pt;
  text-align: center;
  margin-bottom: 5px;
  cursor: default;
}

.product-list-description {
  margin-top: 5px;
  text-align: center;
  font-family: 'MaximaEF-Light';
  font-size: 14pt;
  color: black;
}

.product-list-button {
  background-color: transparent;
  color: black;
  border: 2px solid black;
  height: 50px;
  border-radius: 0;
  font-family: 'Marsden wide';
  margin-right: 7px;
  margin-left: 7px;
}

.flex-container.product-list-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.flex-container1.product-list-button-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

button[routerLink] {
  cursor: pointer;
}

.product-list-image {
  width: 100%;
  height: auto;
  margin-top: 17px;
}
