<img src="assets/homebanner.png" class="product-list-banner" />
<h1 class="product-list-title">GIFTS THEY'LL LOVE TO GET</h1>

<p class="product-list-description">Whether they're sports fanatics or just appreciate good design and high quality, Wilson’s got the apparel to make this year their best year ever. Need some help choosing? Try our Gift Guides.</p>

<div class="flex-container product-list-button-container">
    <button routerLink="/women" class="product-list-button">SHOP WOMEN</button>
    <button routerLink="/men" class="product-list-button">SHOP MEN</button>
</div>

<img src="assets/sports.png" class="product-list-image" />
<h1 class="product-list-title">THIS SEASON'S BIGGEST SAVINGS</h1>
<p class="product-list-description">Shop our game-changing deals on apparel, equipment, & gear.</p>

<div class="flex-container1 product-list-button-container">
    <button routerLink="/sportsinfo" class="product-list-button">SHOP SPORTS</button>
</div>
