.mens-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mens-details-name {
  color: rgb(199, 16, 46);
  font-family: 'Marsden wide';
  cursor: default;
}

.mens-details-price {
  font-family: 'MaximaEF-Light';
  margin-bottom: 10px;
  margin-top: 0;
}

.mens-details-image {
  height: 600px;
  width: auto;
  opacity: 1;
  cursor: default;
}

.mens-details-buttons {
  display: flex;
  gap: 10px; 
  margin-bottom: 15px; 
}

.mens-details-add-cart,
.mens-details-add-wishlist {
  background-color: rgb(199, 16, 46);
  height: 50px;
  width: 150px;
  font-family: 'Marsden wide';
  color: white;
  cursor: pointer;
  border: none;
}

.mens-details-add-cart:hover,
.mens-details-add-wishlist:hover {
  opacity: 0.8;
}

.mens-details-description {
  font-family: 'MaximaEF-Light';
  color: black;
  text-align: left;
  font-size: 14px;
  text-align: center;

}
